# Ignore the Virtual Environment folder
venv/
.venv/
env/

# Ignore Python compiled files (the __pycache__ folders)
__pycache__/
*.pyc

# Ignore system files
.DS_Store

# Ignore local environment variables (use .env.example as a template)
.env